h1{
	font-size: 4.3em;
	text-align: center;
	color:#000000;
}

h2{
  font-size: 1.01em;
  text-align: left;
  color:#000000;
}

h3{
  font-size: 1.01em;
  text-align: left;
  color:#000000;
}


h5{
  font-size: 2.0em;
  text-align: center;
  color: #ffffff;
}

h6{
	font-size: 1.5em;
	text-align: center;
	color:#000000;
}

h7{
  font-size: 1em;
  text-align: left;
  color:#000000;
}
.video{
	text-align: center;
}
div.Dogmeat {
	background-color: #170cad;
	overflow: auto;
	white-space: nowrap;
}

div.Dogmeat a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.Dogmeat a:hover{
	background-color: #6259de;
}

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}
.icon-bar1 {
    width: 100%; /* Full-width */
    background-color: #c4c4c4; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 33.333333%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #494949 /* Add a hover color */
}

.icon-bar1 a {
 float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 50%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: Black; /* White text color */
    font-size: 50px; /* Increased font size */
}
.active {
    background-color: #353535; /* Add an active/current color */
}

table, th, td {
    border: 1px solid black;
	
}


